body {
  max-width: 1280px;
  height: 850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;

}

.postit{
  width: 500px;
  height:  max-content;
  background-color: lightyellow;
}

.title{
  font-size: 64px;
  color: black;
}